* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body,
html {
  overflow-x: hidden;
}
.all {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
}

.navbar {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 10vh;
  background-color: rgb(78, 61, 61);
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-links {
  display: flex;
  margin: 0px 20px;
}
.nav-links li {
  margin: 0px 20px;
  font-size: 20px;
  padding: 8px 15px;
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 50px;
}

.nav-links li a {
  color: whitesmoke;
}
.nav-links li a:hover {
  color: #fc036b;
  font-weight: bold;
}

.menu-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  cursor: pointer;
  color: blueviolet;
  display:none; 
}
.container {
  background-image: url(../mutimediafiles/images/img/bg-1.jpg);
  background-attachment: fixed;
  margin-top: 53px;
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: bottom center;
}
.main-content {
  display: flex;
  flex-direction: column;
}
.heading {
  text-align: center;
  margin-top: 200px;
  font-size: 9vmin;
  color: whitesmoke;
}
.intro-heading {
  text-align: center;
  margin-top: 20px;
  color: whitesmoke;
  font-size: 4vmin;
}
/* 
#imageview{
    width: 80%;
    margin: 80px auto;

}
.row{
    display: flex;
    align-items: center;
    width:90%;
    justify-content: space-between;
    gap:20px;
    /* flex-wrap: wrap;
}

#imageview .left{
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
   
}
#imageview img{
    width: 100%;
    height: 60%;
}
#imageview h3{
    color: #fc036b;
    margin:15px;
}
#imageview p{
    margin: 10px;
}
#imageview button{
    margin-top: 30px;
    margin-bottom: 30px;
    width:35%;
    font-size: 16px;
    padding:10px 10px;
    text-align: center;
    margin-left:100px;
    border-radius: 5px;
    color: white;
    background-color: brown;
    border: 1px;
    cursor: pointer;
}
#imageview button:hover{
    background-color: red;
} */

#imageview {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}
.row {
  width: 25%;
  height: 100%;
  background-color: #f2f2f2;
  border-radius: 8px;
  /* overflow: hidden; */

  margin: 20px;
}
.row img {
  width: 100%;
  height: auto;
}
.left {
  padding: 16px;
}
.left h3 {
  font-size: 28px;
  margin-bottom: 8px;
  color: #fc036b;
}
.left p {
  color: #666;
  font-size: 15px;
  line-height: 1.3;
}
.left .btn {
  display: inline-block;

  padding: 8px 16px;
  background-color: #333;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  color: #fff;
}

/* articls */
#articls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
  gap: 20px;
}
.articl {
  width: 40%;
  height: 100%;
  background-color: #f2f2f2;
  border-radius: 8px;
  /* overflow: hidden; */
  box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.2);
  margin-top: 10px;
}

.articl img {
  width: 100%;
  height: auto;
}
.articl h3 {
  margin: 10px;
  color: brown;
}

#textimodel {
  margin-top: 50px;
  height: 60vh;
  background-image: url(../mutimediafiles/images/img/bg-2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#textimodel h2 {
  font-size: 5vmin;
  color: whitesmoke;
}
#textimodel p {
  margin-top: 10px;
  color: white;
  text-align: center;
}

#imageview2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}
.row2 {
  width: 20%;
  height: 100%;
  background-color: #f2f2f2;
  border-radius: 8px;
  /* overflow: hidden; */

  margin: 20px;
}
.row2 img {
  width: 100%;
  height: auto;
}

.onebig {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.largeimg {
  align-items: center;
  width: 70%;
  background-color: #f2f2f2;
}
.largeimg img {
  width: 100%;
}
.largeimg h3 {
  margin: 30px 20px;
  font-size: 20px;
}
.largeimg p {
  margin-left: 20px;
  color: #666;
}
span{
  margin:30px;

}

#Contact {
  margin-top: 30px;
  background-image: url(../mutimediafiles/images/img/bg-3.jpg);
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Contact h1 {
  color: #f2f2f2;
  font-size: 2rem;
  margin-top: 60px;
}
#Contact p {
  width: 40%;
  text-align: center;
  background-color: #f2f2f266; 
  margin-top: 10px;
  color: #666;
}

#Contact .input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
  margin-left: -200px;
}
#Contact input {
  background-color: #f2f2f266;
  border: 1px;
  color: whitesmoke;
  width: 100%;
  height: 100%;
  font-size: 20px;
}
textarea {
  background-color: #f2f2f266;
  border: 1px;
  color: whitesmoke;
  width: 100%;
  height:4rem;
}
.span1 {
    display: inline-block;
  /* width: 40%; */
  padding: 3px 6px;
  font-size: 20px;
  color: whitesmoke;
  background-color: #666;
  border: 1px;
  border-radius:5px;
  cursor: pointer;
}
.span2 {
  display: inline-block;
/* width: 40%; */
padding: 3px 10px;
font-size: 20px;
color: whitesmoke;
background-color: #666;
border: 1px;
border-radius:5px;
cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
footer h1 {
  color: #666;
  font-size: 30px;
  margin-top: -20px;
}
footer p {
  margin-top: 20px;
  color: #666;
  font-size: 16px;
  text-align: center;
}
@media screen and (max-width: 850px) {
  .menu-btn {
    position: absolute;
    top: 100px;
    right: 30px;
    width: 30px;
    cursor: pointer;
    /* color: blueviolet; */
    display:block;
  }
  .navbar {
    padding: 0;
    /* background-color: none; */
    display: none;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background-color: rgb(115, 111, 119);
    margin-top: -900px;
    transition: all 0.5s ease;
  }
  .mobile-menu {
    margin-top: 0px;
    border-bottom-right-radius: 10%;
  }
  .nav-links li {
    margin: 10px auto;
  }
  .container {
    background-image: url(../mutimediafiles/images/img/bg-1.jpg);
    margin-top: 0px;
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: bottom center;
  }
  #imageview {
    width: 80%;
    margin: 80px auto;
  }
  .row {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }
  #imageview2 {
    width: 80%;
    margin: 80px auto;
  }
  .row2 {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }

  #imageview .left {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
  }
  #imageview img {
    width: 100%;
    height: 60%;
  }
  #articls {
    display: flex;
    /* justify-content: center; */
    /* align-content: center; */

    flex-wrap: wrap;
    margin-top: 25px;
    gap: 20px;
    width: 90%;
  }
  .articl {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    border-radius: 8px;
    /* overflow: hidden; */
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.2);
    margin-top: 10px;
    margin-left: 20px;
  }

  .articl img {
    width: 100%;
    height: auto;
  }
  .articl h3 {
    margin: 10px;
  }
  .onebig {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .largeimg {
    align-items: center;
    width: 90%;
    background-color: #f2f2f2;
  }
  .largeimg img {
    width: 100%;
    height: 40vh;
  }
  #Contact {
    margin-top: 30px;
    background-image: url(../mutimediafiles/images/img/bg-3.jpg);
    background-size: cover;
    background-position: center;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #Contact h1 {
    color: #f2f2f2;
    font-size: 2rem;
    margin-top: 60px;
  }
  #Contact p {
    width: 90%;
    text-align: center;
    background-color: #f2f2f266;
    margin-top: 10px;
  }

  #Contact .input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    margin-left: 20px;
  }
  #Contact input {
    background-color: #f2f2f266;
    border: 1px;
    color: whitesmoke;
    width: 100%;
    height: 100%;
    font-size: 20px;
  }
  textarea {
    background-color: #f2f2f266;
    border: 1px;
    color: whitesmoke;
    width: 100%;
    height: 4rem;
  }
  .span2{
    margin-top: 10px;
    width: 40%;
    font-size: 20px;
    color: whitesmoke;
    background-color: #666;
    border: 1px;
    border-radius: 8px;
  }
}
